* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f2f2f2;
    --box-shadow: #00000077;
    --heading-background: #3D3D46;
    --text-color: #fff;
    --text-color-dark: #000;
    --border-accent: #D7BE0A;
    --heading-background-light: #555555;
    --hover-accent: #fff894;
    --overlay: #00000074;
    --submit-button: #808080;
    --secondary-accent: #e84a4a;
    --warning-accent: #ff0000;
    --skillbox: #ffff00;
    --skillbox-hover: #a18f0a;
    --confirm-button: #888888;
    --confirm-button-hover: #666666;
    --delete-button-hover: #aa3333;
}


body {
    margin: 0;
    padding: 0;
}